/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 10px;
    margin-top: 0;
}



/* home-section */



/* services */
#service{
    flex-direction: column;
}


/* client-section */
#client-section{
    overflow: hidden;
}