* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position:absolute;
}

#navbar #logo {
    margin: 20px 20px;
}

#navbar #logo img {
    border-radius: 50%;
    height: 60px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

ul li {
    list-style: none;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    border-radius: 20px;
    color: white;
}

ul li a:hover {
    color: black;
    background-color: white;
}

/* home-section */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    border: 2px solid green;
    position: relative;
}
 .home img{
    height: 570px;
    width: 100%;
} 
.home h1 {
    color: white;
    text-align: center;

}

.home p {
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}

/* utility-classes */
.h-primary {
    font-size: 50px;
    padding: 15px;
}
.h-secondary{
    font-size: 25px;
}

.btn {
    padding: 5px 20px;
    border: 2px solid white;
    background-color:black;
    margin: 20px;
    cursor: pointer;
    color: white;
    border-radius: 25px;
}
.center{
    text-align: center;
}
/* services-section */
#service{
    margin: 30px;
    display: flex;
}
#service .box{
    margin: 10px;
    border: 2px solid brown;
    padding: 10px;
    border-radius: 25px;
}
#service .box img{
    height: 160px;
    display: block;
    margin: auto;
}
/* client-section */
#client-section{
    height: 350px;
    background: url(../images/clientbackground.jpg) no-repeat center center/cover;
    opacity: 0.9;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items img{
    height: 150px;
}
.client-items{
    padding: 30px;
    margin: 5px;
}
#client-section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* contact-section */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400 px;
    background:  url(../images/contact.jpg) no-repeat center center/cover;
    opacity: 0.9;
}
footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;

}